/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Syne:wght@400;600;700;800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 85vh;
  background-color: #0d1b2a !important;
  color: #ffffff;
  font-family: "Syne", sans-serif;
}